# Gradle files
.gradle
.idea
build/
gradle/
bin/
.gradle/
/*/build/
/*/bin/
/*/gen/
/*/.settings/
local.properties
.idea/dictionaries
*.iml

.idea/*
proguard/
*.apk
*.ap_
*.dex
*.class
scripts/resources/*.diff
obj/
epubs/
mappings/
READY/
.classpath
.settings
*.so
*~