# Gradle files
.gradle/
build/
/*/build/
/*/bin/
/*/gen/
/*/.settings/
local.properties
# User-specific stuff:
.idea/dictionaries
*.iml
# Gradle:
.idea/*
proguard/
*.apk
*.ap_
*.dex
*.class
scripts/resources/*.diff
obj/
epubs/
mappings/
READY/
.classpath
.settings
*.so
*~